/* From where did you get these values?
   I would go with the:
$breakpoint-extrasmall: 480px;
$breakpoint-small: 768px;
$breakpoint-medium: 1000px;
$breakpoint-default: 1366px;
$breakpoint-large: 1440px;
$breakpoint-extralarge: 1920px;
*/
$breakpoint-extrasmall: 480px;
$breakpoint-small: 750px;
$breakpoint-normal: 930px;
$breakpoint-large: 1600px;
$breakpoint-extralarge: 1900px;

$screen: "only screen";

$extrasmall-down: "#{$screen} and (max-width: #{$breakpoint-extrasmall - 1})";
$small-down: "#{$screen} and (max-width: #{$breakpoint-small - 1})";
$normal-down: "#{$screen} and (max-width: #{$breakpoint-normal - 1})";
$large-down: "#{$screen} and (max-width: #{$breakpoint-large - 1})";
$extralarge-down: "#{$screen} and (max-width: #{$breakpoint-extralarge - 1})";

$extrasmall-up: "#{$screen} and (min-width: #{$breakpoint-extrasmall})";
$small-up: "#{$screen} and (min-width: #{$breakpoint-small})";
$normal-up: "#{$screen} and (min-width: #{$breakpoint-normal})";
$large-up: "#{$screen} and (min-width: #{$breakpoint-large})";
$extralarge-up: "#{$screen} and (min-width: #{$breakpoint-extralarge})";
