@import 'normalize';

$sectionNum: 3;
$sectionHeight: 1 / $sectionNum * 100%;

html, body {
  height: 100%;
}

.container {
  font-family:"raleway regular";
  height: $sectionNum * 100%;
}

.nav-main {
  font-size: 14px;
  text-transform: uppercase;
  .logo-wrapper {
    float: left;
  }
  ul {
    list-style: none;
    float: right;
    li {
      display: inline-block;
    }
  }
}

.logo {
  float: left;
}

main {
  height: $sectionHeight;
  background-image: url("../_PSD/elementy robocze/temporary_BG1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.barber {
  height: $sectionHeight;
  background-image: url("../_PSD/elementy robocze/pattern.png"), url("../_PSD/elementy robocze/temporary_BG2_patern.jpg");
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-position: left, center;
}

.garage {
  height: $sectionHeight;
  background-image: url("../_PSD/elementy robocze/temporary_BG3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
