@import 'normalize';

$sectionNum: 3;
$sectionHeight: 1 / $sectionNum * 100%;

html, body {
  height: 100%;
}

.container {
  font-family:"raleway regular";
  height: $sectionNum * 100%;
}

.nav-main {
  font-size: 14px;
  text-transform: uppercase;
  overflow: hidden;
  position: fixed;
  width: 100%;

  .logo-wrapper {
    float: left;
  }
  .nav-list {
    float: right;
    list-style: none;

    li {
      display: inline-block;
      color: #ffffff;

      a {
        color: #ffffff;
        text-decoration: none;

        &.active {
          font-weight: 700;
        }
      }
    }
  }
}

.section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $sectionHeight;

  &.intro {
    background-image: url("/img/section1_bg.jpg");
  }
  &.barber {
    background-image: url("/img/section2_pattern.png"),
                      url("/img/section2_bg.jpg");
    background-position: left, center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
  }
  &.garage {
    background-image: url("/img/section3_bg.jpg");
  }
}
