@import 'normalize';

$sectionNum: 3;
$sectionHeight: 1 / $sectionNum * 100%;

$fontWeights: (
  light: 300,
  normal: 400,
  medium: 500,
  semiBold: 600,
  extraBold: 800
);

html, body {
  height: 100%;
}

.container {
  font-family: 'Raleway', sans-serif;
  height: $sectionNum * 100%;
}

.nav-main {
  background-color: transparent;
  transition: background-color 0.3s;
  font-size: 14px;
  overflow: hidden;
  position: fixed;
  text-transform: uppercase;
  width: 100%;

  .logo-wrapper {
    float: left;

    a {
      display: block;
    }

    .logo-barber-garage {
      height: 128px;
      transition: width 0.3s, height 0.3s;
      width: 190px;
      padding: 20px;
    }
  }

  &.nav-small {
    background-color: #121212;

    .logo-barber-garage {
      height: 53px;
      width: 79px;
      padding: 10px 20px 10px 20px;
    }
  }

  .nav-list {
    float: right;
    height: 30px;
    list-style: none;
    padding: 20px;

    li {
      color: #ffffff;
      display: inline-table;
      line-height: 30px;
      vertical-align: middle;

      &.nav-lang {
        margin: auto 5px 0 5px;
      }

      &.nav-media {
        margin-right: 40px;

        a {
          height: 21px;
          width: 21px;
          display: block;

          img {
            display: block;
            margin: 0 auto;
          }
        }
      }

      &.nav-section {
        margin-right: 65px;
      }

      &.nav-tel {
        margin-right: 65px;
      }

      a {
        color: #ffffff;
        text-decoration: none;

        &:hover, &.active {
          font-weight: map-get($fontWeights, 'extraBold');
        }
      }
    }
  }
}

.section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $sectionHeight;
  padding: 20px;
  div {
    color: #ffffff;
    font-kerning: auto;
    font-size: 18px;
    font-weight: map-get($fontWeights, 'light');
    line-height: 30px;
    padding: 8% 60% 0 0;
    text-align: left;

    p {
      margin: 60px 0 60px 0;
    }

    a {
      color: #ffffff;
      font-weight: map-get($fontWeights, 'extraBold');
      text-decoration: none;

      &.button-reservation {
        border: solid;
        border-color: #ffffff;
        margin-right: 70px;
        padding: 7px 7px 7px 7px;

        &:hover {
          background-color: #ffffff;
          border-color: #ffffff;
          color: #121212;
        }
      }
    }
  }

  &.intro {
    background-image: url("/img/section1_bg.jpg");
  }
  &.barber {
    background-image: url("/img/section2_pattern.png"),
                      url("/img/section2_bg.jpg");
    background-position: left, center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
  }
  &.garage {
    background-image: url("/img/section3_bg.jpg");
  }
}
