<script src="/js/vendor/smooth-scroll.js"></script>
<script src="/js/vendor/froogaloop.min.js"></script>
<script src="/js/main<%if (typeof data.timestamp !== 'undefined'){ %>.<%= data.timestamp %><%}%>.js"></script>
</body>
</html>
