<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/lodash.min.js"></script>
<script src="/js/vendor/smooth-scroll.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
