$white: #ffffff;
$gray-dark: #353535;
$nav-background: #121212;

$fontFamily: 'Raleway', sans-serif;

$fontWeights: (
  light: 300,
  normal: 400,
  medium: 500,
  semiBold: 600,
  extraBold: 800
);

$zindexes: (
  navMain: 1000,
  introBtnVolume: 500,
  navHomepage: 100
);

$sectionNum: 3;
