#contact {
  $footer-height-desktop: 385px;
  $footer-height-desktop-large-up: 450px;
  $footer-margin-desktop: 10px;
  $footer-margin-desktop-large-up: 35px;

  $logo-width: 105px;

  background-color: $nav-background;
  overflow: hidden;

  @include portrait() {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: space-between;
  }

  #map {
    background-color: #ffffff;
    float: left;
    height: $footer-height-desktop-large-up;
    overflow: hidden;
    width: 50%;

    @include portrait() {
      display: flex;
      height: 45%;
      width: 100%;
    }

    @include desktop-large-down() {
      height: $footer-height-desktop;
    }
  }

  .contact-wrapper {
    height: $footer-height-desktop-large-up;
    overflow: hidden;
    width: 50%;

    @include tablet-large-down() {
      display: flex;
      margin: 0 auto;
      width: auto;
    }

    @include desktop-large-down() {
      height: $footer-height-desktop;
    }

    ul {
      color: $white;
      display: block;
      list-style: none;
      height: inherit;
      overflow: hidden;
      padding-top: 50px;

      @include tablet-large-down() {
        width: 100%;
      }

      @include phone-down() {
        padding-top: 15px;
      }

      li {
        height: ($footer-height-desktop-large-up/2) - $footer-margin-desktop-large-up;
        position: relative;
        margin: 0 $footer-margin-desktop-large-up $footer-margin-desktop-large-up $footer-margin-desktop-large-up;
        overflow: hidden;

        @include desktop-large-down() {
          height: ($footer-height-desktop/2) - $footer-margin-desktop;
        }

        @include phone-down() {
          margin: 0;
          height: auto;
        }

        &:after {
          background-color: $gray-dark;
          bottom: 0;
          content: "";
          height: 3px;
          left: $footer-margin-desktop-large-up + $logo-width + $footer-margin-desktop-large-up;
          position: absolute;
          width: 80px;
        }

        &:first-of-type {
          margin-top: $footer-margin-desktop-large-up;

          @include desktop-large-down() {
            margin-top: $footer-margin-desktop;
          }
        }

        &:last-of-type:after {
          display: none;
        }
      }
    }

    .contact-logo-img {
      float: left;
      width: $logo-width;

      @include tablet-large-down() {
        width: 90px;
      }

      @include phone-down() {
        width: 60px;
      }
    }

    .contact-address {
      float: left;
      font-style: normal;
      letter-spacing: 0.1em;
      margin-left: $footer-margin-desktop-large-up;

      @include phone-down() {
        float: none;
        margin-left: 75px;
        margin-bottom: 20px;
      }

      h1 {
        @include fontWeight('medium');
        font-size: 14px;
        margin: 0 0 20px 0;
        text-transform: uppercase;

        @include desktop-large-down() {
          font-size: 12px;
        }

        @include phone-down() {
          font-size: 10px;
          margin-bottom: 7px;
        }
      }

      .contact-info {
        @include fontWeight('light');
        font-size: 14px;
        margin: 0 0 20px $footer-margin-desktop-large-up;

        @include desktop-large-down() {
          font-size: 12px;
        }

        @include phone-down() {
          font-size: 10px;
          margin: 0 0 10px 20px;
        }

        &--strong {
          @include fontWeight('medium');
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
