footer {
  background-color: #121212;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;

  ul {
    list-style: none;
  }

  .map-wrapper {
    background-color: #ffffff;
    float: left;
    height: 400px;
    width: 50%;
  }

  .logo-wrapper {
    box-sizing: border-box;
    float: left;
    padding:35px 35px 0 35px;

    img{
      width: 105px;
    }

    li {
      height: 180px;
    }
  }

  .contact-wrapper {
    box-sizing: border-box;
    float: left;
    height: 100%;
    letter-spacing: 0.04em;   /*40? but what? Look at Pan Kulka's description*/
    padding-top: 35px;
    width: 30%;
    vertical-align: middle;

          .bargar-list {
          @include fontWeight('medium');
          font-size: 14px;
          color: #ffffff;

          li {
            position: relative;
            margin:10px 0 10px 35px;
          }
          .adress-list {
            @include fontWeight('light');
          }
          .tel-list {
            @include fontWeight('semiBold');

            &:hover {
              color: gold;
            }
          }
        }
      }
    }
