footer {
  height: 60%;
  background-color: #121212;
  font-family: 'Raleway', sans-serif;





  ul {
    list-style: none;
  }

  .map-wrapper {
    float: left;
    background-color: #ffffff;
    width: 50%;
    height: 100%;


  }



  .logo-wrapper {
    height: 100%;
    width: 20%;
    float: left;
    padding-top: 20px;
    box-sizing: border-box;



    ul {
      height: 100%;
      padding-left: 25%;


      li {
        height: 50%;
      }
    }
  }

  .contact-wrapper {
    vertical-align: middle;
    height: 100%;
    float: left;
    width: 25%;
    letter-spacing: 40;   /*40? but what? Look at Pan Kulka's description*/
    padding-top: 20px;
    padding-left: 10px;
    box-sizing: border-box;


        .bargar-list {
          @include fontWeight('medium');
          font-size: 14px;
          color: #ffffff;
          padding: 7px 5px 5px 5px;

          li {
            position: relative;
            margin: 7px 0 7px 40px;
          }
          .adress-list {
            @include fontWeight('light');
          }
          .tel-list {
            @include fontWeight('semiBold');

            &:hover {
              color: gold;
            }
          }
        }
      }
    }
