footer {
  height: 50%;
  background-color: #121212;
  font-family: 'Raleway', sans-serif;

  .map-wrapper {
    float: left;
    background-color: #ffffff;
    width: 50%;
    height: 100%;
  }

  .contact-wrapper {
    vertical-align: middle;
    left: 50%;
    height: 100%;
    padding-right: 60px;

    .contact-list{
      list-style: none;
      text-align: center;

      /* @TODO: change `bargar` class name */
      .bargar-wrapper {
        display: inline-block;
        margin: 0 40px 0 0;
        text-align: left;

        .bargar-list {
          @include fontWeight('medium');
          list-style: none;
          font-size: 14px;
          color: #ffffff;
          padding: 7px 5px 5px 5px;

          li {
            position: relative;
            margin: 7px 0 7px 40px;
          }
          .adress-list {
            @include fontWeight('light');
          }
          .tel-list {
            @include fontWeight('semiBold');

            &:hover {
              color: gold;
            }
          }
        }
      }
    }
  }
}
