.subpage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  div {
    @include fontWeight('light');
    color: #ffffff;
    font-kerning: auto;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 30px;
    padding-left: 60px;

    p {
      width: 50%;
    }
  }
}

.container-subpage {
  height: auto;
}
