.subpage {
  div {
    @include fontWeight('light');
    color: #ffffff;
    font-kerning: auto;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 30px;
    padding-left: 60px;

    p {
      width: 50%;
      padding-top: 20px;
    }
  }
}
