.section {
  $sectionHeight: 1 / $sectionNum * 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $sectionHeight;

  @include tablet-large-down() {
    position: relative;
  }

  div {
    @include fontWeight('light');
    color: $white;
    font-kerning: auto;
    font-size: 18px;
    line-height: 30px;
    padding: 8% 60% 0 20px;
    text-align: left;

    @include tablet-large-down() {
      padding-right: 30px;
    }

    @include desktop-down() {
      font-size: 16px;
    }

    @include tablet-down() {
      font-size: 14px;

    }

    p {
      margin: 60px 0 60px 0;
    }

    a {
      @include fontWeight('extraBold');
      color: $white;
      text-decoration: none;

      &.button-reservation {
        border: solid;
        border-color: $white;
        letter-spacing: 0.1em;
        margin-right: 70px;
        padding: 12px 20px;
        text-transform: uppercase;

        @include tablet-large-down() {
          border-radius: 5px;
          background-color: $white;
          border-color: $white;
          color: $nav-background;
        }

        @include desktop-down() {
          margin-right: 40px;
        }

        @include phone-down() {
          padding: 10px 18px;
        }

        &:hover {
          background-color: $white;
          border-color: $white;
          color: $nav-background;
        }
      }

      @include tablet-large-down() {
        bottom: 10%;
        position: absolute;

        @include phone-down() {
          bottom: 5%;
        }

        &.button-reservation {

        }

        &.link-read-more {
          left: 200px;
          line-height: 60px;
          height: 60px;

          @include phone-down() {
            left: 170px;
          }
        }
      }
    }
  }

  &.intro {
    background-image: url("/img/section1_bg.jpg");
  }
  &.barber {
    background-image: url("/img/dot_pattern.png"),
                      url("/img/bg_home_barber.jpg");
    background-position: left, center;
    background-repeat: repeat, no-repeat;
    background-size: auto, auto 100%;
  }
  &.garage {
    background-image: url("/img/dot_pattern.png"),
                      url("/img/bg_home_garage.jpg");
    background-position: left, center;
    background-repeat: repeat, no-repeat;
    background-size: auto, auto 100%;
  }
}
