.nav-main {
  background-color: transparent;
  transition: background-color 0.3s;
  font-size: 14px;
  overflow: hidden;
  position: fixed;
  text-transform: uppercase;
  width: 100%;

  .logo-wrapper {
    float: left;

    a {
      display: block;
    }

    .logo-barber-garage {
      height: 128px;
      transition: width 0.3s, height 0.3s;
      width: 190px;
      padding: 20px;
    }
  }

  &.nav-small {
    background-color: #121212;

    .logo-barber-garage {
      height: 53px;
      width: 79px;
      padding: 10px 20px 10px 20px;
    }
  }

  .nav-list {
    float: right;
    height: 30px;
    list-style: none;
    padding: 20px;

    li {
      color: #ffffff;
      display: inline-table;
      line-height: 30px;
      vertical-align: middle;

      &.nav-lang {
        margin: auto 5px 0 5px;
      }

      &.nav-media {
        margin-right: 40px;

        a {
          height: 21px;
          width: 21px;
          display: block;

          img {
            display: block;
            margin: 0 auto;
          }
        }
      }

      &.nav-section {
        margin-right: 65px;
      }

      &.nav-tel {
        margin-right: 65px;
      }

      a {
        color: #ffffff;
        text-decoration: none;

        &:hover, &.active {
          font-weight: map-get($fontWeights, 'extraBold');
        }
      }
    }
  }
}
