.nav-mobile-list {
  display: none;
}

@include tablet-large-down() {
  .nav-main {
    background-color: $nav-background;
    height: 80px;
    position: fixed;
    width: 100%;
    @include zindex('navMain');

    .logo-wrapper {
      margin: 0;
      float: left;
      position: relative;
      width: 130px;
      @include zindex('navMain');

      .logo-barber-garage {
        height: 53px;
        padding: 10px 20px 10px 20px;
        width: 79px;
      }
    }

    .nav-list {
      display: none;
    }
  }

  .nav-toggle {
    cursor: pointer;
    float: right;
    height: 45px;
    margin: 0;
    padding: 0;
    position: relative;
    right: 15px;
    top: 15px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    width: 50px;
    @include zindex('navMain');

    span {
      background: $white;
      border-radius: 6px;
      display: block;
      height: 6px;
      left: 0;
      opacity: 1;
      position: absolute;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      width: 100%;

      &:nth-child(1) {
        top: 0px;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 18px;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 36px;
        transform-origin: left center;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          top: -3px;
          left: 8px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        &:nth-child(3) {
          top: 32px;
          left: 8px;
          transform: rotate(-45deg);
        }
      }
      & + .nav-mobile-list {
        color: $white;
        background-color: rgba(0, 0, 0, 0.8);
        display: block;
        width: 100%;
        height: 100%;
        padding-top: 80px;
        position: fixed;
        text-align: center;
        text-transform: uppercase;
        @include fontWeight('extraBold');

        .nav-media {
          float: left;
          height: 10%;

          img {
            padding-left: 20px;
          }
        }

        .nav-lang {
          float: right;
          height: 10%;

          a {
            padding-left: 20px;
            text-decoration: none;
            color: $white;
            opacity: 0.5;
            @include fontWeight('extraBold');

            &:hover,
            &.active {
              opacity: 1;
            }

          }
        }

        .nav-section {
          clear: both;
          font-size: 55px;
          height: 50%;

          a {
            display: block;
            text-decoration: none;
            color: $white;
          }
        }

        .nav-contact {
          height: 40%;
          div {
            padding-top: 20px;
          }
          label {
            display: block;
          }
        }
      }
    }
  }
}

@include tablet-large-up() {
  .nav-main {
    @include zindex('navMain');
    background-color: transparent;
    transition: background-color 0.2s;
    font-size: 14px;
    overflow: hidden;
    position: fixed;
    text-transform: uppercase;
    width: 100%;

    input {
      display: none;
    }

    .nav-toggle {
      display: none;
    }

    .logo-wrapper {
      float: left;

      a {
        display: block;
      }

      .logo-barber-garage {
        height: 128px;
        transition: width 0.3s, height 0.3s;
        width: 190px;
        padding: 20px;
      }
    }

    &.nav-small {
      background-color: $nav-background;

      .logo-barber-garage {
        height: 53px;
        width: 79px;
        padding: 10px 20px 10px 20px;
      }
    }

    .nav-list {
      float: right;
      height: 30px;
      padding: 20px;

      li {
        color: #ffffff;
        display: inline-table;
        line-height: 30px;
        vertical-align: middle;

        &.nav-lang {
          margin: auto 5px 0 5px;
        }

        &.nav-media {
          margin-right: 40px;

          a {
            display: block;
            height: 21px;
            width: 21px;

            img {
              display: block;
              margin: 0 auto;
            }
          }
        }

        &.nav-section,
        &.nav-tel {
          margin-right: 65px;
        }

        a {
          color: #ffffff;
          text-decoration: none;

          &:hover,
          &.active {
            @include fontWeight('extraBold');
          }
        }
      }
    }
  }
}
