<div class="container">
  <nav class="nav-main">
    <div class="logo-wrapper">
      <a href="/">
        <img src="/img/logo_barber_garage.png" class="logo-barber-garage" alt="Barger Garage Logo">
      </a>
    </div>
    <ul class="nav-list">
      <li class="nav-tel">
        TEL: (+48) 656 434 212
      </li>
      <li class="nav-section">
        <a href="/barber">
          Barber
        </a>
      </li>
      <li class="nav-section">
        <a href="/garage">
          Garage
        </a>
      </li>
      <li class="nav-media">
        <a href="https://www.facebook.com/barbergarage/" target="_blank">
          <img src="/img/fb.png" alt="facebook">
        </a>
      </li>
      <li class="nav-media">
        <a href="https://www.instagram.com/barbergarage/" target="_blank">
          <img src="/img/insta.png" alt="instagram">
        </a>
      </li>
      <li class="nav-lang">
        <a href="#" class="active">
          PL
        </a>
      </li>
      <li class="nav-lang">
        <a href="#">
          EN
        </a>
      </li>
    </ul>
  </nav>
  <section id="barber" class="subpage barber">
    <div>
      <img src="/img/barber_icon.png" alt="barber">
      <p>

      </p>
      <ul>
        <title>CENNIK</title>
      </ul>
    </div>
  </section>
</div>
