  <section id="barber" class="subpage barber">
    <div>
      <img src="/img/barber_icon.png" alt="barber">
      <p>
        <%- data.locales.barber %>
      </p>
      <%- data.locales['price list'] %>
    </div>
  </section>
</div>
