<!doctype html>
<html class="" lang="">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,800' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Barber Garage</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/all.css">
</head>
<body>
<div class="container-subpage">
  <nav class="nav-main nav-small" data-nav-small="true">
    <div class="logo-wrapper">
      <a href="/">
        <img src="/img/logo_barber_garage.png" class="logo-barber-garage" alt="Barger Garage Logo">
      </a>
    </div>
    <ul class="nav-list">
      <li class="nav-tel">
        REZERWUJ
      </li>
      <li class="nav-tel">
        TEL: (+48) 656 434 212
      </li>
      <li class="nav-section">
        <a href="/barber" class="active">
          Barber
        </a>
      </li>
      <li class="nav-section">
        <a href="/garage">
          Garage
        </a>
      </li>
      <li class="nav-media">
        <a href="https://www.facebook.com/barbergarage/" target="_blank">
          <img src="/img/fb.png" alt="facebook">
        </a>
      </li>
      <li class="nav-media">
        <a href="https://www.instagram.com/barbergarage/" target="_blank">
          <img src="/img/insta.png" alt="instagram">
        </a>
      </li>
      <li class="nav-lang">
        <a href="#" class="active">
          PL
        </a>
      </li>
      <li class="nav-lang">
        <a href="#">
          EN
        </a>
      </li>
    </ul>
    <div class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="nav-mobile-list">
      <div class="nav-media">
        <a href="https://www.facebook.com/barbergarage/" target="_blank">
          <img src="/img/fb.png" alt="facebook">
        </a>
        <a href="https://www.instagram.com/barbergarage/" target="_blank">
          <img src="/img/insta.png" alt="instagram">
        </a>
      </div>
      <div class="nav-lang">
        <a href="#" class="active">
          PL
        </a>
        <a href="#">
          EN
        </a>
      </div>
      <div class="nav-section">
        <a href="/barber">
          Barber
        </a>
        <a href="/garage">
          Garaż
        </a>
      </div>
      <div class="nav-contact">
        <label>rezerwuj</label>
        <div>
          <label>Zadzwoń</label>
          (+48) 656 434 212
        </div>
        <div>
          <label>Napisz</label>
          kontakt@barbergarage.pl
        </div>
      </div>
    </nav>
  </nav>
  <section id="barber" class="subpage barber">
    <div>
      <img src="/img/barber_icon.png" alt="barber">
      <p>
        Barbershop to coś więcej niż miejsce w którym możesz przyjść na strzyżenie włosów, trymowanie brody czy też golenie zarostu brzytwą. Jest ośrodkiem mikrospołeczności mężczyzn, miejscem wymiany poglądów i spotkań towarzyskich. To godzina, w której podczas zabiegów możesz się odprężyć, zrelaksować i porozmawiać z barberem, czy też z innymi klientami. Czas spędzony w barberze jest chwilą relaksu przy dobrej muzyce i zadbania o swój wygląd – to czas dla Ciebie.
      </p>
      <label for="price-list">CENNIK</label>
      <table id="price-list">
        <tr>
          <td>
            strzyżenie - <strong>OLD DICK</strong>
          </td>
          <td>
            <strong>100,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            strzyżenie - <strong>YOUNG BOYS </strong>(do 12 lat)
          </td>
          <td>
            <strong>50,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            strzyżenie - <strong>0,3 mm</strong>
          </td>
          <td>
            <strong>30,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            strzyżenie - <strong>0,3 mm + KONTUR BRZYTWĄ</strong>
          </td>
          <td>
            <strong>50,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>GOLENIE GŁOWY BRZYTWĄ</strong>
          </td>
          <td>
            <strong>100,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            trymowanie brody <strong>MASZYNKA</strong>
          </td>
          <td>
            <strong>40,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            trymowanie brody <strong>KONTUR BRZYTWĄ</strong>
          </td>
          <td>
            <strong>60,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>PEŁNE GOLENIE BRZYTWĄ</strong>
          </td>
          <td>
            <strong>80,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            komplet: <strong>WŁOSY + BRODA</strong>
          </td>
          <td>
            <strong>120,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            komplet: <strong>WŁOSY + BRODA + KONTUR BRZYTWĄ</strong>
          </td>
          <td>
            <strong>140,-</strong>
          </td>
        </tr>

      </table>
    </div>
  </section>
</div>
