  <section id="barber" class="subpage barber">
    <div>
      <img src="/img/barber_icon.png" alt="barber">
      <p>
        <%- data.locales.barber %>
      </p>
      <label for="price-list">CENNIK</label>
      <table id="price-list">
        <tr>
          <td>
            strzyżenie - <strong>OLD DICK</strong>
          </td>
          <td>
            <strong>100,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            strzyżenie - <strong>YOUNG BOYS </strong>(do 12 lat)
          </td>
          <td>
            <strong>50,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            strzyżenie - <strong>0,3 mm</strong>
          </td>
          <td>
            <strong>30,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            strzyżenie - <strong>0,3 mm + KONTUR BRZYTWĄ</strong>
          </td>
          <td>
            <strong>50,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>GOLENIE GŁOWY BRZYTWĄ</strong>
          </td>
          <td>
            <strong>100,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            trymowanie brody <strong>MASZYNKA</strong>
          </td>
          <td>
            <strong>40,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            trymowanie brody <strong>KONTUR BRZYTWĄ</strong>
          </td>
          <td>
            <strong>60,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>PEŁNE GOLENIE BRZYTWĄ</strong>
          </td>
          <td>
            <strong>80,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            komplet: <strong>WŁOSY + BRODA</strong>
          </td>
          <td>
            <strong>120,-</strong>
          </td>
        </tr>
        <tr>
          <td>
            komplet: <strong>WŁOSY + BRODA + KONTUR BRZYTWĄ</strong>
          </td>
          <td>
            <strong>140,-</strong>
          </td>
        </tr>

      </table>
    </div>
  </section>
</div>
