  <section id="garage" class="subpage garage">
    <div>
      <img src="/img/garage_icon.png" alt="garage">
      <p>
        Barber Garage to coś więcej niż barbershop. W naszym garażu na ulicy Modlińskiej znajdziesz pełen zakres usług związanych z szeroko pojętą mechaniką samochodową. Dodatkowo na specjalne zamówienie kienta składamy stylowe rowery, które charakteryzują sie wyglądem motocykli z początku XX wieku. Ponad to nasi mechanicy zajmują się przebótową klasycznych motocykli na styl boober, cafe racer oraz renowacją starych motocykli.
      </p>
    </div>
  </section>
</div>
