<!doctype html>
<html class="homepage" lang="">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,800' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Barber Garage</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/all.css">
</head>
<body>
<div class="container">
  <nav class="nav-main">
    <div class="logo-wrapper">
      <a href="/">
        <img src="/img/logo_barber_garage.png" class="logo-barber-garage" alt="Barger Garage Logo">
      </a>
    </div>
    <div class="nav-toggle">
      <span></span>
    	<span></span>
    	<span></span>
    </div>
    <ul class="nav-list">
      <li class="nav-tel">
        TEL: (+48) 656 434 212
      </li>
      <li class="nav-section">
        <a href="/barber">
          Barber
        </a>
      </li>
      <li class="nav-section">
        <a href="/garage">
          Garage
        </a>
      </li>
      <li class="nav-media">
        <a href="https://www.facebook.com/barbergarage/" target="_blank">
          <img src="/img/fb.png" alt="facebook">
        </a>
      </li>
      <li class="nav-media">
        <a href="https://www.instagram.com/barbergarage/" target="_blank">
          <img src="/img/insta.png" alt="instagram">
        </a>
      </li>
      <li class="nav-lang">
        <a href="#" class="active">
          PL
        </a>
      </li>
      <li class="nav-lang">
        <a href="#">
          EN
        </a>
      </li>
    </ul>
  </nav>
  <nav class="nav-homepage">
    <ul class="nav-list">
      <li>
        <a data-scroll href="#home" class="nav-home__link link-home active">
          home
        </a>
      </li>
      <li>
        <a data-scroll href="#barber" class="nav-home__link link-barber">
          barber
        </a>
      </li>
      <li>
        <a data-scroll href="#garage" class="nav-home__link link-garage">
          garage
        </a>
      </li>
      <li>
        <a data-scroll href="#contact" class="nav-home__link link-contact">
          contact
        </a>
      </li>
    </ul>
  </nav>
  <main id="home" class="section intro">
    <!-- animation into -->
  </main>
  <section id="barber" class="section barber">
    <div>
      <img src="/img/barber_icon.png" alt="barber">
      <p>
        Barbershop to coś więcej niż miejsce w którym możesz przyjść na strzyżenie włosów, trymowanie brody czy też golenie zarostu brzytwą. Jest ośrodkiem mikrospołeczności mężczyzn, miejscem wymiany poglądów i spotkań towarzyskich&hellip;
      </p>
      <a href="https://booksy.net/pl-pl/2316_barber-garage_barberzy_3_warszawa"
         target="_blank"
         class="button-reservation">
           Rezerwuj
       </a>
      <a class="link-read-more" href="/barber">dowiedz się więcej</a>
    </div>
  </section>
  <section id="garage" class="section garage">
    <div>
      <img src="/img/garage_icon.png" alt="garage">
      <p>
        Barber Garage to coś więcej niż barbershop. W naszym garażu na ulicy Modlińskiej znajdziesz pełen zakres usług związanych z szeroko pojętą mechaniką samochodową&hellip;
      </p>
      <a href="/garage">dowiedz się więcej</a>
    </div>
  </section>
</div>
<footer id="contact">
  <div id="map"></div>
  <div class="contact-wrapper">
    <ul>
      <li>
        <img class="contact-logo-img" src="/img/barber_map_icon_small.png" alt="Barber Logo">
        <address class="contact-address">
          <h1>Barber</h1>
          <div class="contact-info contact-info--strong">
            pon - pt 12.00 - 20.00<br/>
            so 10.00 - 16.00
          </div>
          <div class="contact-info">
            ul. Grzybowska 61 lok.3<br />
            00-844 Warszawa
          </div>
          <div class="contact-info">
            tel. 515 737 877
          </div>
        </address>
      </li>
      <li>
        <img class="contact-logo-img" src="/img/garage_map_icon_small.png" alt="Garage Logo">
        <address class="contact-address">
          <h1>Garaż</h1>
          <div class="contact-info">
            ul. Modlińska 41<br />
            03-199 Warszawa
          </div>
          <div class="contact-info">
            tel. 22 811 32 05<br/>
            tel. 514 201 301
          </div>
        </address>
      </li>
    </ul>
  </div>
</footer>
<script src="/js/google_maps.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoOR4C6Gv4EPmBrPX6L_BM08BDk8lo5rk&callback=initMap">
</script>
